

.daily-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.title-daily-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.title-daily-form h1{
    margin: 10px 10px 0px 0px;
}

.title-daily-form p{
    margin-bottom: 30px;
}

.button-submit-daily-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.feedback-daily-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 720px;
    text-align: justify;
}

.feedback-daily-form span{
    margin-top: 25px;
}

.feedback-daily-form h1{
    margin: 25px 0px 10px 0px;
}

.feedback-daily-form p{
    color: white;
    background-color: #2E86AB;
    padding: 12px;
    border-radius: 10px;
}
